@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 242, 242, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(0, 0, 95%) url('/background.jpg') center / cover no-repeat;
}

main {
  /* debug */
  background: url('/halo-infinite-wallpaper.jpg') center / cover no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
